In [1]:
import pandas as pd

In [2]:
pd.DataFrame([1,2,3,4,5])

   0
0  1
1  2
2  3
3  4
4  5

In [3]:
pd.DataFrame({"valori":[1,2,3,4,5]})

   valori
0       1
1       2
2       3
3       4
4       5

In [5]:
df = pd.DataFrame({"valori":[1,2,3,4,5], "culori":["rosu","verde", "gri","mov","azur"], "nuluri":[None]*5})
df

   valori culori nuluri
0       1   rosu   None
1       2  verde   None
2       3    gri   None
3       4    mov   None
4       5   azur   None

In [6]:
df["valori"]

0    1
1    2
2    3
3    4
4    5
Name: valori, dtype: int64

In [7]:
df["culori"]

0     rosu
1    verde
2      gri
3      mov
4     azur
Name: culori, dtype: object

In [8]:
df = pd.DataFrame({"valori":[1,2,3,4,5], "culori":["rosu","verde", "gri","mov","azur"], "nuluri":[None]*5, "zile":["luni","marti", "miercuri", "joi", "vineri"]})
df

   valori culori nuluri      zile
0       1   rosu   None      luni
1       2  verde   None     marti
2       3    gri   None  miercuri
3       4    mov   None       joi
4       5   azur   None    vineri

In [9]:
df.head(2)

   valori culori nuluri   zile
0       1   rosu   None   luni
1       2  verde   None  marti

In [10]:
df.tail(2)

   valori culori nuluri    zile
3       4    mov   None     joi
4       5   azur   None  vineri

In [11]:
df.loc[2:3]

   valori culori nuluri      zile
2       3    gri   None  miercuri
3       4    mov   None       joi

In [12]:
df.loc[2:]

   valori culori nuluri      zile
2       3    gri   None  miercuri
3       4    mov   None       joi
4       5   azur   None    vineri

In [13]:
df[["culori","zile"]]

  culori      zile
0   rosu      luni
1  verde     marti
2    gri  miercuri
3    mov       joi
4   azur    vineri

In [14]:
df[["culori","zile"]][2:4]

  culori      zile
2    gri  miercuri
3    mov       joi

In [15]:
df["dimensiuni"] = [90, 60, 90, 78, 55]
df

   valori culori nuluri      zile  dimensiuni
0       1   rosu   None      luni          90
1       2  verde   None     marti          60
2       3    gri   None  miercuri          90
3       4    mov   None       joi          78
4       5   azur   None    vineri          55